<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="SofiaCarRental21Connection"
         connectionString="Data Source=HISERVER\SQLEXPRESS;Initial Catalog=WpfexampleDB;User ID=sa;Password=h!ware"
         providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>